extends app

block card
  section.flashcards
    div.card(class=`card-${side}`)
      div.card-header
      h1= side
      div#content
        h2= text
        if hint
          p
            i= hint
      div.card-flip
        a(href=`${id}?side=${sideToShow}`)
          img(src='/static/img/flip.svg' alt='Image of circling arrows to indicate flipping the flashcard')
      div.card-next
        a(href='/cards')
          img(src='/static/img/next.svg' alt='Image of arrow indicating moving to the next flashcoard')
    script(src='/static/js/app.js')
block nav
  include nav
    a(href=`${id}/edit`) Edit card
    a(href='/cards/' + userid + '/' + id + '/delete') Delete Card
